@model Afore2020.Models.ZdjeciaKarty

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ZdjeciaKarty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZdjeciaKartyNazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZdjeciaKartyNazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZdjeciaKartyOpis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZdjeciaKartyOpis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZdjeciaKartyZdjecie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZdjeciaKartyZdjecie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZdjeciaKartyDataTworzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZdjeciaKartyDataTworzenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZdjeciaKartyOperatorTw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZdjeciaKartyOperatorTw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZdjeciaKartyDatamodyfikacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZdjeciaKartyDatamodyfikacji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZdjeciaKartyOperatorMd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZdjeciaKartyOperatorMd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
